version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./model:/app/../model
    networks:
      - food-network

  front:
    build:
      context: .
      dockerfile: front/Dockerfile
    ports:
      - "8501:8501"
    depends_on:
      - api
    networks:
      - food-network

networks:
  food-network:
    driver: bridge
